.titulo{
    text-align: center;
    font-size:x-large ;
    margin-top: 10px;
    color: white;
    color: white;
    justify-content: center;
}
.rioo{
    font-size: 25px;
}
h1 {
    color: white;
    animation: brilho 3s infinite alternate;
    font-size: 50px;
}

.rio {
    color: white;
    animation: brilho 0.000000000000000000000000000001ms infinite ;
}

@keyframes brilho {
    from {
        text-shadow:
            0 0 10px rgb(0, 0, 0),
            0 0 20px #474747,
            0 0 30px #000000,
            0 0 40px #1a1a1a;
    }

    to {
        text-shadow:
            0 0 20px #000000,
            0 0 40px rgb(0, 0, 0),
            0 0 80px #000000,
    }
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(130, 163, 201);
    font-family: 'Delius', cursive;
}

.botao {
    display:inline-flex;
    padding: 20px 40px;
    background-color: rgb(29, 29, 29);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: 1s;
    align-items: center;
    font-size: 30px;
}
.botoes{
    text-align: center;
}
.botao:hover {
    background-color: hsl(0, 0%, 77%);
    box-shadow: 0 0 20px hsl(0, 0%, 77%);
}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 6px;
    padding: 15px;
    justify-items: center;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.imgs img {
    width: 550px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.imgs img:hover {
    transform: scale(1.1);
}