.titulo{
    text-align: center;
    font-size:x-large ;
    margin-top: 20px;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(130, 163, 201);
    font-family: 'Delius', cursive;
}

.botao {
    display:inline-flex;
    padding: 20px 40px;
    background-color: rgb(29, 29, 29);
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;
    transition: 1s;
    align-items: center;
    font-size: larger;

}
.botoes{
    text-align: center;
}
.botao:hover {
    background-color: hsl(0, 0%, 77%);
    box-shadow: 0 0 20px hsl(0, 0%, 77%);
}

.imgs {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    padding: 15px;
    padding-right: 30%;
    justify-items: center;
    align-items: center;
    margin-left: 200px;
}

.imgs img {
    width: 550px;
    height: 450px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.imgs img:hover {
    transform: scale(1.1);
}

